.profile-header {
  --background: var(--ion-color-primary);
  color: white;
}

.menu-avatar {
  margin: 0 auto 10px auto;
  width: 80px;
  height: 80px;
  border: 2px solid white;

  img {
    object-fit: cover;
  }
}

.menu-name {
  margin: 5px 0 0 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.menu-username {
  margin: 0;
  opacity: 0.8;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.user-details {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;

  .bio {
    font-style: italic;
    font-size: 0.85rem;
    margin: 5px 0;
  }

  .country {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 0;
  }
}
